########## LOCAL ##########
APP_PORT=
APP_SECRET=1e70e195-c988-4aa1-9176-4a78129e0dc9
VOLUME_PATH=../../docker
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=Senha@123
TYPEORM_DATABASE=USERS
TYPEORM_PORT=5001
TYPEORM_ENTITIES=./src/modules/*/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS=./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=./src/shared/infra/typeorm/migrations
TYPEORM_ENTITIES_DIR=./src/modules/*/infra/typeorm/entities
